---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE } from '../../consts';

const talks = [
	{
		title: ' 前職でNestJSを採用して得た体験からの学び',
		url: 'https://speakerdeck.com/naokihaba/qian-zhi-tenestjswocai-yong-sitede-tati-yan-karanoxue-hi'
	},
	{
		title: 'VueUse 5分で分かるVue.js開発の効率化術',
		url: 'https://speakerdeck.com/naokihaba/vueuse-5fen-defen-karu-vue-dot-js-kai-fa-noxiao-lu-hua-shu'
	},
	{
		title: 'unplugin-vue-routerで実現する Nuxt 風ファイルベースルーティング',
		url: 'https://speakerdeck.com/naokihaba/unplugin-vue-routerteshi-xian-suru-nuxt-feng-huairuhesuruteinku'
	},
	{
		title: 'Pinia Coladaが実現するスマートな非同期処理',
		url: 'https://speakerdeck.com/naokihaba/pinia-colada-gashi-xian-surusumatonafei-tong-qi-chu-li'
	},
	{
		title: 'Laravel + PHPStanで実現する堅実で静的解析入門',
		url: 'https://speakerdeck.com/naokihaba/laravel-plus-phpstanteshi-merushi-jian-de-jing-de-jie-xi-ru-men'
	},
	{
		title: 'WebからモバイルへVue.js × Capacitor活用事例',
		url: 'https://speakerdeck.com/naokihaba/webkaramobairuhe-vue-dot-js-x-capacitor-huo-yong-shi-li'
	},
	{
		title: '技術で挑む保育現場の課題解決 〜コドモンエンジニアの 開発スタイルと取り組み',
		url: 'https://speakerdeck.com/naokihaba/ji-shu-tetiao-mubao-yu-xian-chang-noke-ti-jie-jue-kotomonensiniano-kai-fa-sutairutoqu-rizu-mi'
	}
];
---

<!doctype html>
<html lang="ja">
	<head>
		<BaseHead title={`登壇 - ${SITE_TITLE}`} description="登壇情報" />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<h1>登壇</h1>
				<ul>
					{
						talks.map((talk) => (
							<li>
								<a href={talk.url} target="_blank" rel="noopener noreferrer">
									{talk.title}
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>

<style>
	main {
		width: 960px;
	}
	ul {
		list-style-type: disc;
		margin: 1rem 0;
		padding-left: 2rem;
	}
	ul li {
		margin-bottom: 0.5rem;
	}
	ul li a {
		color: rgb(var(--accent));
		text-decoration: underline;
	}
	.title {
		margin: 0;
		color: rgb(var(--black));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	ul li a:hover h4,
	ul li a:hover .date {
		color: rgb(var(--accent));
	}
	ul a:hover img {
		box-shadow: var(--box-shadow);
	}
	.links {
		margin-top: 0.5rem;
		display: flex;
		gap: 1rem;
	}
	.links a {
		color: rgb(var(--accent));
		text-decoration: underline;
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>
